body {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
}

header #test1 {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #619cae;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}

a:hover {
  background-color: #333;
}
/* admin.css */
.container {
  width: 1300px;
  margin: 0 auto; /* Центрирование по горизонтали */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f0f0f0;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}